* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  //colors
  --white: #FFF;
  --gray: rgba(0, 0, 0, 0.16);
  --green: #A9C5BA;
  --gray-dark: #707070;
  --black: #000000;
  //typography
  --font-family-standard: Mulish;

  --font-weight-regular: 400;
  --font-weight-heavy: 800;
  --font-size-small: 0.875rem;
  --font-size-standard: 1rem; // 16px
  --font-size-regular: 1.875rem; // 30px
  --font-size-heavy: 2.1875rem; // 35px

  //spacing
  --small-spacing: 0.4rem;
  --standard-spacing: 0.8rem;
  --big-spacing: 1.2rem;

  --border-radius: 6.25rem;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; //15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
}

body {
  background: var(--dark-blue);
}

body, input, textarea, button {
  font: var(--font-weight-regular) var(--font-size-standard) var(--font-family-standard), sans-serif;
  color: var(--gray-100);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-regular);
  font-family: Mulish, sans-serif;
  color: var(--gray-dark);
}

h1 {
  font-size: var(--font-size-regular);
}

h2 {
  font-size: var(--font-size-regular);
}

button {
  cursor: pointer;
}
